<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>
        <activity
            android:name="com.gp.login.policy.PolicyActivity"
            android:exported="false" />
        <activity
            android:name="com.gp.login.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.gp.login.login.LoginActivity"
            android:exported="false" />
    </application>

</manifest>